:root {
    --Principal: #0B3C5D;
    --Secundario: #1D2731;
    --Precaucion: #FFC72C;
    --Incorrecto: #BE2F29;
    --Fondo: #F4F4F4;
    --FuentePrincipal: 'Montserrat', sans-serif;
    --FuenteSecundaria: 'Lora', serif;
    --Grande: 4em;
    --MedianaMediana: 3em;
    --Mediana: 2em;
    --ChicaChica: 1.2em;
    --Chica: 1em;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    list-style-type: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-track {
    display: none;
}

::selection {
    background: var(--Principal)
}

::-moz-selection {
    background: var(--Principal);
}



html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: var(--Fondo);
}

textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
textarea[type="text"] {
    outline: 0 none;
    width: 100%;
    height: auto;
    color: var(--Secundario);
    font-family: var(--FuenteSecundaria);
    font-size: var(--Chica);

    &:hover {
        cursor: pointer;
    }
}

img {
    pointer-events: none;
}

a,
a:active,
a:link,
a:visited {
    color: var(--Secundario);
    text-emphasis: none;
    text-decoration: none;
}

strong {
    font-family: var(--FuenteSecundaria);
    font-size: var(--Chica);
    color: var(--Principal);
    font-weight: 900;
    text-decoration: none;
}

label {
    font-family: var(--FuenteSecundaria);
    font-size: var(--Chica);
    color: var(--Principal);
    text-decoration: none;
    text-align: left;
}

b {
    color: var(--Incorrecto);
}

#Mensaje__Salud {
    background: var(--Fondo);
    border: var(--Precaucion) solid 0.5em;
    border-radius: 2em;
}

.negro {
    font-family: var(--FuentePrincipal);
    font-size: var(--Mediana);
    color: var(--Secundario);
    text-transform: none;
    text-align: center;
}

.negroo {
    font-family: var(--FuentePrincipal);
    font-size: var(--ChicaChica);
    color: var(--Secundario);
    text-align: center;
}

/*.rotar {
    writing-mode: vertical-lr;
    text-align: center;
    line-height: .9;
    transform: rotate(180deg);
}*/



/** ====== NAVBAR DESKTOP ===== **/
.navbar {
    width: 100%;
    height: 25%;
    background: var(--Fondo);
    border: var(--Principal) solid 0.5em;
    border-radius: 1em;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;

    &__Logo {
        width: 5%;
        height: 5%;
    }

    &__navbar-nav,
    &__nav-item,
    &__nav-link {
        font-family: var(--FuentePrincipal);
        color: var(--Principal);
        font-size: var(--ChicaChica);
        font-weight: bolder;
    }
}

/** =========================== **/

/** ====== NAVBAR MOVIL ===== **/
.mb-nav {
    display: none;
}

@media only screen and (max-width: 600px) {

    .mb-nav {
        bottom: 0;
        display: flex;
        width: 100%;
        height: 10%;
        justify-content: space-between;
        align-items: center;
        background-color: var(--Fondo);
        border: var(--Principal) solid 0.3em;
        border-radius: 0.9em;
        border-left: transparent;
        border-right: transparent;
        border-bottom: var(--Principal);
        z-index: 99;
        overflow: hidden;

    }

    .mb-nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 25%;
        padding: 1rem 0;

        &:hover {
            background: var(--Principal);
        }
    }

    .mb-nav-item i,
    .mb-nav-item a {
        font-size: 2rem;
        color: var(--Secundario);
        z-index: 2;
        transition: 0.5s ease-in-out;

        &:hover {
            color: var(--Fondo);
        }
    }

    .mb-nav-item.active i,
    .mb-nav-item.active a {
        color: var(--Principal);

        &:hover {
            color: var(--Fondo);
        }
    }

    .mb-move-item {
        position: absolute;
        margin: 0;
        padding: 0;
        width: auto;
        height: 100%;
        background-color: var(--Principal);
        transition: 0.5s ease-in-out;
    }

    .navbar {
        width: 100%;
        height: auto;
        background: var(--Fondo);
        border: var(--Principal) solid 0.5em;
        border-radius: 1em;
        border-left: transparent;
        border-right: transparent;
        border-top: transparent;
        position: sticky;

        &__Logo {
            width: 5%;
            height: 5%;
        }
    }

    .navbar-toggler,
    .navbar-toggler-icon,
    .collapse,
    .navbar-nav,
    .nav-item,
    .nav-link {
        display: none;
    }

    .section {
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }

    &__card__title {
        font-family: var(--FuentePrincipal);
        font-size: var(--Mediana);
        color: var(--Principal);
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

    #ImagenContacto1,
    #ImagenContacto2,
    #ImagenContacto3 {
        display: none;
    }

    #formulario {
        border: none;
    }

    .section__Iconos__Botones {
        font-size: var(--Mediana);
    }

}


/** ========================= **/

/** ===== SECCIONES ======= **/
.section {
    width: 100%;
    height: auto;
    overflow-x: hidden;

    &__Titulo {
        width: 100%;
        height: 0 auto;
        font-family: var(--FuentePrincipal);
        font-size: var(--Grande);
        color: var(--Principal);
        text-align: center;
        text-decoration: none;
    }

    &__Parrafo {
        font-family: var(--FuenteSecundaria);
        font-size: var(--Mediana);
        color: var(--Secundario);
        text-align: left;
        text-decoration: none;
        border: var(--Principal) solid 0.2em;
        border-left: transparent;
        border-top: transparent;
        border-radius: 0.5em;
    }

    &__Imagen__Nosotros {
        width: 100%;
        object-fit: cover;
        border-radius: 2em;
    }

    /*********************************************/
    &__card {
        width: 100%;
        border: var(--Principal) solid 0.4em;
        border-radius: 1.5em;
        background: var(--Fondo);
    }

    &__card__title {
        font-family: var(--FuentePrincipal);
        font-size: var(--Mediana);
        color: var(--Principal);
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__card__body {
        width: 100%;
        height: auto;
    }

    &__card_parrafo {
        font-family: var(--FuenteSecundaria);
        font-size: var(--Chica);
        color: var(--Secundario);
        text-align: justify;
        text-decoration: none;
    }

    &__Imagen__Carta {
        width: 100%;
        height: 50vh;
        border-radius: 1.8em;
        object-fit: cover;
    }

    &__Boton__Servicios {
        width: 100%;
        height: auto;
        border: var(--Secundario) solid 0.2em;
        border-radius: 2em;
        font-family: var(--FuenteSecundaria);
        font-size: var(--Chica);
        text-decoration: none;
        text-align: center;
        color: var(--Secundario);
        display: grid;
        place-content: center;

        &:hover {
            background: var(--Secundario);
            color: var(--Fondo);
            transition: ease-in 0.5s;
        }
    }

    /***********************************************/

    &__Contacto {
        font-family: var(--FuentePrincipal);
        font-size: var(--Mediana);
        color: var(--Principal);
        text-decoration: none;
        text-align: center;
    }

    &__Imagen__Contacto {
        width: 100%;
        object-fit: cover;
        border-radius: 2em;
    }

    &__Parrafo__Contacto {
        font-family: var(--FuenteSecundaria);
        font-size: var(--ChicaChica);
        color: var(--Secundario);
        text-decoration: none;
        text-align: center;
    }

    &__Iconos__Contacto {
        font-size: var(--Mediana);
        color: var(--Principal);
        text-decoration: none;
    }

    &__Descargar__Listado {
        font-size: var(--ChicaChica);
        color: var(--Principal);
        text-decoration: none;
    }

    &__Iconos__Boton__Enviar {
        font-size: var(--Mediana);
        color: var(--Principal);
        text-decoration: none;

        &:hover {
            background: var(--Secundario);
            color: var(--Fondo);
            transition: ease-in 0.5s;
        }
    }

    &__Formulario {
        width: 100%;
        border: var(--Principal) solid 0.5em;
        border-radius: 1.5em;
        background: var(--Fondo);

    }
}

/** ======================= **/
.footer {
    width: 100%;
    height: auto;
    background: var(--Fondo);
    border: var(--Principal) solid 0.5em;
    border-radius: 1em;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;


    &__Info__Dev {
        font-size: var(--Mediana);
        font-family: var(--FuentePrincipal);
        text-transform: uppercase;
        text-decoration: none;
    }

    &__Titulo {
        font-size: var(--ChicaChica);
        font-family: var(--FuenteSecundaria);
        color: var(--Secundario);
    }

    &__Parrafos {
        font-size: var(--Chica);
        font-family: var(--FuenteSecundaria);
        color: var(--Secundario);
    }

    &__Iconos {
        font-size: var(--ChicaChica);
        font-family: var(--FuenteSecundaria);
        color: var(--Secundario);
    }

}
.icono__home{
    color: var(--Fondo);
}
#Gracias {
    width: 100%;
    height: auto;
    background-color: var(--Principal);
    font-family: var(--FuentePrincipal);
    font-size: var(--Mediana);
    color: var(--Fondo);
    border-radius: 2rem;
}

@media (prefers-color-scheme: dark) {}